.container-mess{
    padding:5vh 5vw;
    width:60%;
    margin-left:0px;
}
.container-myday{
    padding:5vh 5vw;
}
.container-message{
    display:flex;
    flex-direction: column;
    padding:5%;
}

@media screen and (max-width: 770px) {
    .container-mess{
        width:100%;  
    }
    .container-mess .h1{
        font-size: 2rem;
    }
    .container-message{
        padding: 16% 4%;
    }
}