.App-footer {
    background-color: #282c34;
    color: white;
    padding: 5px 0;
    margin-top:auto;
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size:smaller;
  }
  .footer-links {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  .footer-links li a {
    color: white;
    text-decoration: none;
  }
  .container-footer{
    display:flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
  }
  .container-footer-links{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 80%;
  }
  @media (max-width: 868px) {
    .container-footer-links{
      width: 100%;
      justify-content: center;
    }
    .container-footer{
      flex-direction: column;
      
    }
  }
  @media (max-width: 300px) {
    .container-footer{
      flex-direction: column;
    }
    .container-footer-links{
      width: 100%;
      flex-direction: column;
    }
  }