body {
  font-family: 'Poiret One', sans-serif;
  font-weight: bold;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}
.app {
  display: flex;
  flex-direction: row;
}

